name: Python CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [created]
  workflow_dispatch:

jobs:
  validation:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - uses: astral-sh/ruff-action@v3

      - run: run ruff format --check --diff

      - run: uv run bandit .

      - run: uv run pylint ./src

      - run: uv run pytest

  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Build
        run: uv build

      - name: Publish Snapshot to TestPyPi
        if: ${{ github.event_name == 'pull_request' }}
        run: uv version --bump post=${{ github.run_number }}; uv publish --index testpypi

      - name: Publish RC to PyPi
        if: ${{ github.event_name == 'push' }}
        run: uv version --bump rc=${{ github.run_number }}; uv publish

      - name: Publish Release to PyPi
        if: ${{ github.event_name == 'release' }}
        run: uv publish
